body {
    font-family: Arial;
    background-color: #f0f0f0;
    text-align: center;
}

#menu {
    margin: 20px 0;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#contenido {
    margin-top: 20px;
}
